<% content_for :javascript_includes do %>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor" %>
<% end %>

<% if @news.errors.any? %>
  <div class="alert alert-danger alert-dismissable" group="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4><%= pluralize(@news.errors.count, "error") %> prohibited this group from being saved:</h4>
    <ul>
    <% @news.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group m-b-0">
  <%= f.label :banner, "Banner", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.file_field :banner, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <span class="small-font">Please upload image with size 1280 x 800 (width x height)</span>
  </div>
</div>
<div class="form-group">
  <%= f.label :title, "Title *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :title, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :user, "Writer", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :user, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :short_content, "Short Content", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_area :short_content, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :content, "Content", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.cktext_area :content, :class => "form-control",
                      :ckeditor => {:uiColor => "#f0e5d2", :toolbar => "Basic"}%>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <%= f.check_box :default, {}, true %> Set as main News 
      </label>
    </div>
  </div>
</div>

