<% content_for :javascript_includes do %>
  <%= javascript_include_tag "aos" %>
  <%= stylesheet_link_tag "aos" %>
<% end %>


<!--
<div class="page-header small-banner banner-about-us">
  <div class="banner-masking">
    <div class="container">
      <div class="col-xs-12 col-sm-6 name no-padding-lr">&nbsp;</div>
      <div class="col-xs-12 col-sm-6 small-banner-text p-l-50">
        <ol class="breadcrumb">
          <li><%= link_to "Home", root_path %></li>
          <li class="active">About Us</li>
        </ol>
      </div>
    </div>
  </div>
</div>
-->

<div class="small-banner">
  <%= image_tag "banner_about_us.jpg", class: "img img-responsive" %>
</div>

<div class="container">
  <div class="col-xs-12 about-us">
  <!--
    <div class="row m-b-40">
      <div class="col-xs-12 col-sm-6 aos-item u_icon" data-aos="flip-up">
        <%#= image_tag "about-us.jpg", :class => "img img-responsive" %>
      </div>
      <div class="col-xs-12 col-sm-6 content">
        <div class="header">
          PT. AZORA INTERNASIONAL as a travel specialist company in Jakarta – Indonesia.
        </div>
        <div class="desc">
          Having the experience of operating in the travel business since 2000,
          we can provide one stop solution to all your travelling needs.
        </div>
      </div>
    </div>
    -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 aos-item" data-aos="fade-right">
        <div class="col-xs-12 no-padding-lr vision_mision">
          <span class="col-xs-12 no-padding-lr">
            <%=  image_tag "our_vision.png", class: "img img-reponsive about-us-icon"%>
          </span>
          <span class="col-xs-12 no-padding-lr title">Our Vision</span>
          <span class="col-xs-12 no-padding-lr value">
            <ul>
              <li>Striving to be the best of the best in the travel industry by
                  trying to offer an immaculate service record to our clientele.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 aos-item" data-aos="fade-up">
        <div class="col-xs-12 no-padding-lr vision_mision">
          <span class="col-xs-12 no-padding-lr">
            <%=  image_tag "our_core_value.png", class: "img img-reponsive about-us-icon"%>
          </span>
          <span class="col-xs-12 no-padding-lr title">Our Core Values</span>
          <span class="col-xs-12 no-padding-lr value">
            <ul>
              <li>We believe in giving full satisfactions to our clientele.</li>
              <li>We hope to continuously evolve by creativity and innovations.</li>
              <li>We believe in upholding high integrity and absolute commitments
                  in order to provide uncompromised services to our clientele.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 aos-item" data-aos="fade-left">
        <div class="col-xs-12 no-padding-lr vision_mision">
          <span class="col-xs-12 no-padding-lr">
            <%=  image_tag "our_mission.png", class: "img img-reponsive about-us-icon"%>
          </span>
          <span class="col-xs-12 no-padding-lr title">Our Mission</span>
          <span class="col-xs-12 no-padding-lr value">
            <ul>
              <li>To build a trusting long-lasting relationship with our clientele by
                  materializing Our Vision and holding firm to Our Core Values.</li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-header aos-item" data-aos="fade-down" style="background-color:#2b85c3">
  <div class="container">
    <div class="col-xs-12 col-sm-12 name no-padding-lr center-text" style="padding: 40px 0">
      Contact Us
    </div>
  </div>
</div>

<div class="page-header container-map aos-item" data-aos="fade-down">
  <div class="col-xs-12 map" id="map"></div>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -6.141445, lng: 106.854843},
        mapTypeControl: false,
        zoom: 17,
        scrollwheel: false,
        styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"color":"#000000"},{"lightness":13}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#144b53"},{"lightness":14},{"weight":1.4}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#08304b"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#0c4152"},{"lightness":5}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#0b434f"},{"lightness":25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#0b3d51"},{"lightness":16}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"}]},{"featureType":"transit","elementType":"all","stylers":[{"color":"#146474"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#021019"}]}]
      });
      var marker = new google.maps.Marker({
        map: map,
        position: {lat: -6.141445, lng: 106.854843},
        title: 'PT Azora Internasional'
      });

    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnNJ6kkXnA5of0MVsW36r0meDM0schA4A&callback=initMap" async defer></script>
</div>

<div class="container" id="contact-us">
  <%= render :partial => "shared/flash" %>
  <div class="col-xs-12 col-sm-6 contact-us aos-item" data-aos="fade-up-right">
    <%= form_for @contact, :url => contact_us_path do |f| %>
      <% if @contact.errors.any? %>
        <div class="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "error") %> prevented this record from being saved:</h2>
          <ul>
            <% @contact.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-6 form-group">
        <%= f.label :name, "Name *" %>
        <%= f.text_field :name, :class => "form-control" %>
      </div>
      <div class="col-xs-12 col-sm-6 form-group">
        <%= f.label :email, "Email *" %>
        <%= f.email_field :email, :class => "form-control" %>
      </div>
      <div class="col-xs-12 col-sm-6 form-group">
        <%= f.label :phone, "Phone Number" %>
        <%= f.text_field :phone, :class => "form-control" %>
      </div>
      <div class="col-xs-12 col-sm-6 form-group">
        <%= f.label :company_name, "Company Name" %>
        <%= f.text_field :company_name, :class => "form-control" %>
      </div>
      <div class="col-xs-12 form-group">
        <%= f.label :subject, "Subject *" %>
        <%= f.text_field :subject, :class => "form-control" %>
      </div>
      <div class="col-xs-12 form-group">
        <%= f.label :content, "Message *" %>
        <%= f.text_area :content, :class => "form-control", :rows => 10 %>
      </div>
      <div class="col-xs-12 form-group">
        <%= recaptcha_tags %>
      </div>
      <div class="col-xs-12 form-group">
        <%= f.submit "Send Message", :class => "btn btn-info", :style=>"background-color:#51bf9f" %>
      </div>
      <div class="col-xs-12 form-group m-t-30">
        <b>* Marked fields are mandatory</b>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 no-padding-lr aos-item" data-aos="fade-up-left">
    <div class="col-xs-12 location">
      <h3>The <b>Office</b></h3>
      <span class="col-xs-12 address">
        <i class="fa fa-map-marker col-xs-3 col-sm-2 no-padding-lr" aria-hidden="true"></i>
        <div class="col-xs-9 col-sm-10 no-padding-lr">
          <b>Address : </b>Kompleks Rukan Puri Mutiara Blok BC No.17<br />
          <span style="padding-left:64px;display:block;">
            Jalan Griya Utama Sunter Agung
          </span>
          <span style="padding-left:64px;display:block;">
            Jakarta Utara, Indonesia 14350
          </span>
        </div>
      </span>
      <span class="col-xs-12 phone">
        <i class="fa fa-phone col-xs-3 col-sm-2 no-padding-lr" aria-hidden="true"></i>
        <div class="col-xs-10 col-sm-9 info"><b>Phone : </b> +6221 2265 - 3300</div>
      </span>
      <%#*<span class="col-xs-12 fax">%>
        <%#*<i class="fa fa-fax col-xs-3 col-sm-2 no-padding-lr" aria-hidden="true"></i>%>
        <%#*<div class="col-xs-10 col-sm-9 info"><b>Fax : </b> +6221 2265 - 1415</div>%>
      <%#*</span>%>
      <%#*<span class="col-xs-12 email">%>
        <%#*<i class="fa fa-envelope col-xs-3 col-sm-2 no-padding-lr" aria-hidden="true"></i>%>
        <%#*<div class="col-xs-10 col-sm-9 info"><b>Email : </b> info@azoratravel.com</div>%>
      <%#*</span>%>
      <span class="col-xs-12 whatsapp">
        <i class=" col-xs-3 col-sm-2 no-padding-lr" aria-hidden="true">
          <%= image_tag "whatsapp-icon.png", class: "img img-responsive" %>
        </i>
        <div class="col-xs-10 col-sm-9 info"><b>Whatsapp : </b> +62858 - 1706 - 3730</div>
      </span>
      <span class="col-xs-12 instagram">
        <i class="col-xs-3 col-sm-2 no-padding-lr" aria-hidden="true">
          <%= image_tag "ig-icon.png", class: "img img-responsive" %>
        </i>
        <div class="col-xs-10 col-sm-9 info"><b>Instagram : </b>
          <%= link_to 'azoraworld', "https://www.instagram.com/azoraworld/", target: "_blank" %>
        </div>
      </span>
    </div>
    <div class="col-xs-12 office-time">
      <h3><b>Business</b> Hours</h3>
      <span class="col-xs-12">
        <span class="col-xs-1"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        <span class="col-xs-3 no-padding-lr">Monday - Friday</span>
        <span class="col-xs-5">08.30 - 17.00</span>
      </span>
      <span class="col-xs-12">
        <span class="col-xs-1"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        <span class="col-xs-3 no-padding-lr">Saturday</span>
        <span class="col-xs-5">08.30 - 13.00</span>
      </span>
    </div>
  </div>
</div>

<script type="text/javascript">
  AOS.init({
    easing: 'ease-in-out-sine'
  });
</script>

<% if @anchor %>
  <script type="text/javascript">
    window.location.hash = "<%= @anchor %>";
  </script>
<% end %>
