<div class="container">
  <div class="col-xs-12 service-title">
    <% @services.each_with_index do |service, x| %>
      <% active = get_service_name == service.permalink ? "active" : "menu" %>
      <% if service.permalink.downcase == "travel-visa" %>
        <%= link_to service.name, visa_detail_path(Country.default.permalink), class: "btn btn-#{active}" %>
      <% elsif service.permalink.downcase == "tickets" %>
        <%= link_to service.name, tickets_path, class: "btn btn-#{active}" %>
      <% elsif service.permalink.downcase == "hotels" %>
        <%= link_to service.name, hotels_path, class: "btn btn-#{active}" %>
      <% elsif service.permalink.downcase == "packages" %>
        <%= link_to service.name, packages_path("domestic"), class: "btn btn-#{active}" %>
      <% else %>
        <%= link_to service.name, services_path(service.permalink), class: "btn btn-#{active}" %>
        <%#= link_to service.name, "##{service.permalink}", class: "btn btn-#{active}",
                    id: "#{service.permalink}-tab", data: {toggle: "tab"} %>
      <% end %>
    <% end %>
  </div>
</div>