<% content_for :javascript_includes do %>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor" %>
<% end %>

<% if @gallery.errors.any? %>
  <div class="alert alert-danger alert-dismissable" group="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4><%= pluralize(@gallery.errors.count, "error") %> prohibited this group from being saved:</h4>
    <ul>
    <% @gallery.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if action_name == 'edit' || action_name == 'update' %>
  <div class="form-group">
    <%= f.label :image, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= image_tag @gallery.image.url(:medium) %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :continent_id, "Continent *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :continent_id,
                 options_for_select(@continents, @gallery.continent_id),
                 {},:class => "form-control" %>
  </div>
</div>

<div class="form-group m-b-0">
  <%= f.label :image, "Image/Video *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.file_field :image, :class => "form-control",:accept => "video/*, image/*" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <span class="small-font">Please upload image with size 1280 x 800 (width x height) or video with maximum size 100 mb</span>
  </div>
</div>
<div class="form-group">
  <%= f.label :title, "Title", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :title, :class => "form-control" %>
    <%= hidden_field_tag "id", params[:id] %>
  </div>
</div>
<div class="form-group">
  <%= f.label :description, "Description", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.cktext_area :description, :class => "form-control",
                      :ckeditor => {:uiColor => "#f0e5d2", :toolbar => "Basic"}%>
  </div>
</div>
