<div class="page-header" style="background-color:#3e3e3e">
  <div class="container">
    <div class="col-xs-12 col-sm-6 name no-padding-lr">Galleries</div>
    <div class="col-xs-12 col-sm-6 breadcrumb">
      <ol class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
        <li class="active">Galleries</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 continent-galleries">
    <% @continents.each do |continent_list| %>
      <div class="grid row">
        <% continent_list.each_with_index do |continent, x| %>
          <div class="col-sm-4">
            <div class="col-sm-12 no-padding-lr">
              <figure class=" effect-chico continent-box" style="width: 100%">
                <%= image_tag continent.banner.url(:medium), :alt => continent.banner.url %>
                <figcaption>
                  <%= link_to "javascript:void(0)", gallery_path(continent.permalink) %>
                  <p>
                    <% countries = continent.countries.size >= 15 ? continent.countries.limit(13) : continent.countries %>
                    <% countries.each do |country| %>
                      <span class="col-sm-6 no-padding-lr">
                        <i class="fa fa-circle" aria-hidden="true"></i>&nbsp
                        <%= country.name.downcase == "united kingdom" ? "UK" : country.name %>
                      </span>
                    <% end %>
                    <% if continent.name.downcase == "europe" && continent.countries.size >15 %>
                      <span class="col-sm-6 no-padding-lr">
                        <i class="fa fa-circle" aria-hidden="true"></i>&nbsp;
                        <%= "Etc" %>
                      </span>
                    <% end %>
                  </p>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-12 continent-name">
              <%= link_to continent.name, gallery_path(continent.permalink) %>
            </div>
            <div class="col-sm-12 continent-last-updated">
              Last Updated <%= continent.updated_at.strftime('%d-%b-%Y') %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%#*<div class="col-lg-12" id="lightgallery">%>
      <%#= render :partial => "gallery", :object => @galleries %>
    <%#*</div>%>

    <%# unless @galleries_paginate.total_pages.to_i == 0 || @galleries_paginate.total_pages.to_i == 1 %>
      <%#*<p id="view-more">%>
        <%#= image_tag "spinner.gif", :class => "img img-responsive",
                      :style => "height:50px;width:50px;margin: 20px auto 0" %>
        <%#= link_to('View More', url_for(page: @galleries_paginate.current_page + 1), :remote => true,
                    :style => "display:none;") %>
      <%#*</p>%>
    <%# end %>
  </div>
</div>

