<% content_for :javascript_includes do %>
  <%= javascript_include_tag "light-gallery/lightgallery", "light-gallery/lg-autoplay.min",
                             "light-gallery/lg-fullscreen.min", "light-gallery/lg-video",
                             "light-gallery/lg-thumbnail.min", "light-gallery/lg-zoom.min",
                             "aos" %>
  <%= stylesheet_link_tag "lightgallery", "aos" %>
<% end %>

<div class="page-header small-banner banner-galleries">
  <div class="banner-masking">
    <div class="container">
      <div class="col-xs-12 col-sm-6 name no-padding-lr">&nbsp;</div>
      <div class="col-xs-12 col-sm-6 small-banner-text p-l-50">
        <!--
        <ol class="breadcrumb">
          <li><%= link_to "Home", root_path %></li>
          <li>Galleries</li>
          <li class="active"><%= @continent.name.titleize %></li>
        </ol>
        <h2>MEMORIES WE CREATED</h2>
        <p>
          Our Highly motivated and experienced staffs will assist you to ensure 
          your tour program complete success!
        </p>
        -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 service-title">
    <% @continents.each_with_index do |continent, x| %>
      <% active = params[:permalink] == continent.permalink ? "active" : "menu" %>
      <%= link_to continent.name, gallery_path(continent.permalink), class: "btn btn-#{active}" %>
    <% end %>
  </div>
  <div class="col-xs-12 continent-galleries">
    <div class="col-lg-12" id="lightgallery">
      <%= render :partial => "gallery", :object => @galleries %>
    </div>

    <% unless @galleries_paginate.total_pages.to_i == 0 || @galleries_paginate.total_pages.to_i == 1 %>
      <p id="view-more">
        <%= image_tag "spinner.gif", :class => "img img-responsive",
                      :style => "height:50px;width:50px;margin: 20px auto 0" %>
        <%= link_to('View More', url_for(page: @galleries_paginate.current_page + 1), :remote => true,
                    :style => "display:none;") %>
      </p>
    <% end %>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $('#lightgallery').lightGallery({
      thumbnail: true,
      selector: 'div.continent-list-gallery',
      autoplayFirstVideo: false,
      autoplay: false
    });
  })
</script>
