<% content_for :javascript_includes do %>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor" %>
<% end %>

<% if @country.errors.any? %>
  <div class="alert alert-danger alert-dismissable" group="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4><%= pluralize(@country.errors.count, "error") %> prohibited this group from being saved:</h4>
    <ul>
    <% @country.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if action_name == 'edit' || action_name == 'update' %>
  <div class="form-group">
    <%= f.label :banner, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= image_tag @country.banner.url(:thumb) %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :continent_id, "Continent *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.select :continent_id,
                 options_for_select(@continents, @country.continent_id),
                 {},:class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :name, "Name *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, :class => "form-control" %>
    <%= hidden_field_tag "id", params[:id] %>
    <%= hidden_field_tag "page", params[:page] || 1 %>
  </div>
</div>
<div class="form-group m-b-0">
  <%= f.label :banner, "Banner", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.file_field :banner, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <span class="small-font">Please upload image with size 1280 x 768 (width x height)</span>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-2">&nbsp;</div>
  <div class="col-sm-10">
    <label>
      <%= f.check_box :free_visa, :id => "free_visa" %> Free Visa?
    </label>
  </div>
</div>
<div class="form-group" id="duration" style="display:none">
  <%= f.label :free_visa_duration, "Duration", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :free_visa_duration, :class => "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-2">&nbsp;</div>
  <div class="col-sm-10">
    <label>
      <%= f.check_box :visa_on_arrival, :id => "visa_on_arrival" %> Visa On Arrival
    </label>
  </div>
</div>
<div class="form-group" id="voa_duration" style="display:none">
  <%= f.label :voa_duration, "VOA Duration", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :voa_duration, :class => "form-control" %>
  </div>
</div>
<div class="form-group" id="visa_requirement" style="display:none">
  <%= f.label :visa_requirement, "Visa Requirement *", :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.cktext_area :visa_requirement, :class => "form-control",
                      :ckeditor => {:uiColor => "#f0e5d2", :toolbar => "Basic"}%>
  </div>
</div>

<script>
  $(window).load(function() {
    if($("#free_visa").is(':checked') || $("#visa_on_arrival").is(':checked')){
      $("#visa_requirement").fadeOut('fast')
      if($("#free_visa").is(':checked')){
        $("#duration").fadeIn('fast')
      }else{
        $("#duration").fadeOut('fast')
      }
      if($("#visa_on_arrival").is(':checked')){
        $("#voa_duration").fadeIn('fast')
      }else{
        $("#voa_duration").fadeOut('fast')
      }
    }else{
      $("#duration").fadeOut('fast')
      $("#voa_duration").fadeOut('fast')
      $("#visa_requirement").fadeIn('fast')
    }
  });

  $(document).ready(function() {
    $("#free_visa, #visa_on_arrival").click(function(){

      if($("#free_visa").is(':checked') || $("#visa_on_arrival").is(':checked')){
        $("#visa_requirement").fadeOut('fast')
        if($("#free_visa").is(':checked')){
          $("#duration").fadeIn('fast')
        }else{
        $("#duration").fadeOut('fast')
      }
        if($("#visa_on_arrival").is(':checked')){
          $("#voa_duration").fadeIn('fast')
        }else{
        $("#voa_duration").fadeOut('fast')
      }
      }else{
        $("#duration").fadeOut('fast')
        $("#voa_duration").fadeOut('fast')
        $("#visa_requirement").fadeIn('fast')
      }


      <%#*if($("#free_visa").is(':checked')){%>
        <%#*$("#visa_requirement").fadeOut('fast')%>
        <%#*$("#duration").fadeIn('fast')%>
      <%#*}else{%>
        <%#*$("#duration").fadeOut('fast')%>
        <%#*$("#visa_requirement").fadeIn('fast')%>
      <%#*}%>
      <%#*if($("#visa_on_arrival").is(':checked')){%>
        <%#*$("#visa_requirement").fadeOut('fast')%>
        <%#*$("#voa_duration").fadeIn('fast')%>
      <%#*}else{%>
        <%#*$("#voa_duration").fadeOut('fast')%>
        <%#*$("#visa_requirement").fadeIn('fast')%>
      <%#*}%>
    })
  })
</script>
