<div class="page-header small-banner banner-our-service">
  <div class="banner-masking">
    <div class="container">
      <div class="col-xs-12 col-sm-6 name no-padding-lr">&nbsp;</div>
      <div class="col-xs-12 col-sm-6 small-banner-text p-l-50">
        <!--
        <ol class="breadcrumb">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Other Service", services_path("other-service") %></li>
          <li class="active">Visa</li>
        </ol>
        -->
        <h2>WE PROVIDES</h2>
        <p>
          Our Highly motivated and experienced staffs will assist you to ensure 
          your tour program complete success!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 service-title">
    <% @services.each_with_index do |service, x| %>
      <% active = get_service_name == service.permalink ? "active" : "menu" %>
      <% if service.permalink.downcase == "visa" %>
        <%= link_to service.name, visa_detail_path(Country.default.permalink) , 
                    class: "btn btn-#{active}" %> 
      <% elsif service.permalink.downcase == "tickets" %>
        <%= link_to service.name, tickets_path, class: "btn btn-#{active}" %> 
      <% else %>
        <%= link_to service.name, services_path(service.permalink), 
                    class: "btn btn-#{active}" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="col-sm-3 col-md-3">
    <div class="panel-group" id="countries-accordion">
      <% @continents.each_with_index do |continent, x| %>
        <% continent == @continent ? (head = '';body = 'in') : (head = 'collapsed';body = '') %>
        <div class="panel panel-default continent-country">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= link_to (raw "#{continent.name}"),
                          "#collapse-#{continent.permalink}", :class => "accordion-toggle #{head}",
                          :data => {:toggle => "collapse", :parent => "#accordion"} %>
            </h4>
          </div>
          <div id="collapse-<%= continent.permalink %>" class="panel-collapse collapse <%= body %>">
            <div class="panel-body">
              <% continent.countries.each do |country| %>
                <div class="col-xs-3 country-small">
                  <%= link_to (image_tag country.banner.url(:thumb), :class => "img img-responsive"),
                               visa_detail_path(country.permalink) %>
                  <%= link_to (country.name.downcase == "united kingdom" ? "UK" : country.name),
                               visa_detail_path(country.permalink), :class => "p-t-5" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9 visa-requirement">
    <div class="col-xs-12 visa-header">
      <%= image_tag @country.banner.url, :class => "img img-responsive" %>
      <span><%= @country.name %></span>
    </div>
    <div class="col-xs-12">
      <%= raw(@country.visa_requirement) %>
    </div>
  </div>
</div>
